



@{
    Layout="_LayoutSite";
}


      <!--body content start-->
        <section class="body-content">
                   <div class="container">
                <div class="row page-content">
                    <div class="post-list-aside">
                        <div class="post-single">
                            <div class="col-md-6">
                                <div class="post-slider post-img text-center">
                                    <ul class="slides">
                                        <li data-thumb="~/assets/img/post/p1.jpg">
                                            <a href="javascript:;" title="Freshness Photo">
                                                <img src="~/assets/img/post/p3.jpg" alt="">
                                            </a>
                                        </li>
                                        <li data-thumb="~/assets/img/post/p2.jpg">
                                            <a href="javascript:;" title="Awesome Lightbox">
                                                <img src="~/assets/img/post/p2.jpg" alt="">
                                            </a>
                                        </li>
                                        <li data-thumb="~/assets/img/post/p3.jpg">
                                            <a href="javascript:;" title="Massive UI Components">
                                                <img src="~/assets/img/post/p1.jpg" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <h4 class="text-uppercase">
                                         WELCOME TO YOUTH MANDATE
                                    </h4>

                                    <p>
                                       Youth Mandate (YM) is a progressive youth organisation inspired by anti-imperialist, democratic and socialist ideas who take up the idea of organizing the young men and women of our great country who have visions and the aspirations dedicated towards nation building. It is a powerful movement fighting for the democratic and progressive social system, upliftment and betterment of the youth community and total engagement in the leadership challenges facing the country and driving us into a total collapse.
                                    </p>

                                  
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="row m-bot-80">
                    <div class="col-md-6">
                        <div class="">
                            <h4 class="text-uppercase">
                                A Platform for Change
                            </h4>

                            <p>
                            YM aspires to be the platform in which young men and women in every village, town and city can unite with visions to bring about progress towards democracy in our society. We are the youth whose love for our mother land, whose patriotism, prompts us to free our mother land from backwardness and lead it to genuine modernity and diversity. Backwardness means unscientific thinking holding sway on the society at every level, caste system, suppression, violation of secularism and vision-less driven leadership which has subjected our economy to ground zero .
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-uppercase">
                            Massive Skills
                        </h4>

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                HTML / CSS / JQUERY <span>80%</span>
                            </div>
                        </div>
                        <!-- progress bar end -->

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                PHOTOSHOP <span>90%</span>
                            </div>
                        </div>
                        <!-- progress bar end -->

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                GRAPHIC DESIGN <span>75% </span>
                            </div>
                        </div>
                        <!-- progress bar end -->

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">
                                PHP / WORDPRESS <span>82%</span>
                            </div>
                        </div>
                        <!-- progress bar end -->
                    </div>
                </div>

                 <div class="row page-content">
                    <div class="post-list-aside">
                        <div class="post-single">
                            <div class="col-md-6">
                                <div class="post-slider post-img text-center">
                                    <ul class="slides">
                                        <li data-thumb="~/assets/img/post/p1.jpg">
                                            <a href="javascript:;" title="Freshness Photo">
                                                <img src="~/assets/img/post/p3.jpg" alt="">
                                            </a>
                                        </li>
                                        <li data-thumb="~/assets/img/post/p2.jpg">
                                            <a href="javascript:;" title="Awesome Lightbox">
                                                <img src="~/assets/img/post/p2.jpg" alt="">
                                            </a>
                                        </li>
                                        <li data-thumb="~/assets/img/post/p3.jpg">
                                            <a href="javascript:;" title="Massive UI Components">
                                                <img src="~/assets/img/post/p1.jpg" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <h4 class="text-uppercase">
                                        PURPOSE
                                    </h4>

                                    <p>
                                     YM declares its intention and pledge to fight for full democratic rights of the Nigerian Youths in Decision making poised to mobilizing youths across all works of life within and outside the country to engage the present political parties and ruling elites who have nothing to offer this generation for over 56 years of our independence but rather has only fostered and championed leadership of self enrichment, personal interest and Godfather-ism as well as political vendetta.
                                    </p>

                                  
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="row m-bot-80">
                    <div class="col-md-6">
                        <div class="">
                            <h4 class="text-uppercase">
                                A Platform for Change
                            </h4>

                            <p>
                                        Youth Mandate stands for the un-curtailed right to democratic and independent expression and behavior to fight against the forces of authoritarianism and dictatorship and in defence of the democratic rights and freedoms of our people.
                    YM strives to inculcate among the young men and women a sense of responsibility and secular and democratic consciousness as citizens of Nigeria, so we fight against every manifestation of discrimination and oppression based on Tribe, Religion, Language and Region, and to work for communal harmony, secularism, democracy and social equality.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-uppercase">
                            Massive Skills
                        </h4>

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                HTML / CSS / JQUERY <span>80%</span>
                            </div>
                        </div>
                        <!-- progress bar end -->

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                PHOTOSHOP <span>90%</span>
                            </div>
                        </div>
                        <!-- progress bar end -->

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                GRAPHIC DESIGN <span>75% </span>
                            </div>
                        </div>
                        <!-- progress bar end -->

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">
                                PHP / WORDPRESS <span>82%</span>
                            </div>
                        </div>
                        <!-- progress bar end -->
                    </div>
                </div>

                <hr>
         <div class="row page-content">
                    <div class="post-list-aside">
                        <div class="post-single">
                            <div class="col-md-6">
                                <div class="post-slider post-img text-center">
                                    <ul class="slides">
                                        <li data-thumb="~/assets/img/post/p1.jpg">
                                            <a href="javascript:;" title="Freshness Photo">
                                                <img src="~/assets/img/post/p3.jpg" alt="">
                                            </a>
                                        </li>
                                        <li data-thumb="~/assets/img/post/p2.jpg">
                                            <a href="javascript:;" title="Awesome Lightbox">
                                                <img src="~/assets/img/post/p2.jpg" alt="">
                                            </a>
                                        </li>
                                        <li data-thumb="~/assets/img/post/p3.jpg">
                                            <a href="javascript:;" title="Massive UI Components">
                                                <img src="~/assets/img/post/p1.jpg" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <h4 class="text-uppercase">
                                        EDUCATION
                                    </h4>

                                    <p>
                                     YM fights for the establishment of a scientific and democratic educational system which will be easily accessible for all boys and girls.
YM will make sustained efforts to inculcate among the youth advanced social, cultural and moral values, and to fight against all manifestations of backward and decadent culture and obscurantist and outmoded outlook on life
                                         </p>

                                  
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="row m-bot-80">
                    <div class="col-md-6">
                        <div class="">
                            <h4 class="text-uppercase">
                               UNITY OF PURPOSE
                            </h4>

                            <p>
                        YM expresses its strong desire, and works for the establishment of fraternal and cordial relations with other youth organisations in our country which stand for secularism, democracy, and social advance, and expresses its readiness to have united action with other youth organisations on commonly agreed issues and demands.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-uppercase">
                            Massive Skills
                        </h4>

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                HTML / CSS / JQUERY <span>80%</span>
                            </div>
                        </div>
                        <!-- progress bar end -->

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                PHOTOSHOP <span>90%</span>
                            </div>
                        </div>
                        <!-- progress bar end -->

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                GRAPHIC DESIGN <span>75% </span>
                            </div>
                        </div>
                        <!-- progress bar end -->

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">
                                PHP / WORDPRESS <span>82%</span>
                            </div>
                        </div>
                        <!-- progress bar end -->
                    </div>
                </div>

                        <hr>
         <div class="row page-content">
                    <div class="post-list-aside">
                        <div class="post-single">
                            <div class="col-md-6">
                                <div class="post-slider post-img text-center">
                                    <ul class="slides">
                                        <li data-thumb="~/assets/img/post/p1.jpg">
                                            <a href="javascript:;" title="Freshness Photo">
                                                <img src="~/assets/img/post/p3.jpg" alt="">
                                            </a>
                                        </li>
                                        <li data-thumb="~/assets/img/post/p2.jpg">
                                            <a href="javascript:;" title="Awesome Lightbox">
                                                <img src="~/assets/img/post/p2.jpg" alt="">
                                            </a>
                                        </li>
                                        <li data-thumb="~/assets/img/post/p3.jpg">
                                            <a href="javascript:;" title="Massive UI Components">
                                                <img src="~/assets/img/post/p1.jpg" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <h4 class="text-uppercase">
                                        EVERY ONE COUNTS
                                    </h4>

                                    <p>
                                         The youth as an integral part of society shall extend its solidarity to all the democratic struggles of the workers, peasants, middle class and all other progressive strata and individuals, and will seeks the co-operation and support of all other democratic forces for the cause of youth visions and its struggles.

                                  </p>

                                  
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="row m-bot-80">
                    <div class="col-md-6">
                        <div class="">
                            <h4 class="text-uppercase">
                             DEVELOPMENT
                            </h4>

                            <p>
               The Youth Mandate will ensure that young men and women who have great vision and ideas with burning desires on the  generation into the VISION2020 will have the chance  to participate with ideas that will boost our economy, innovative capabilities to compete favorably with other countries and economies, to engage in the pursuit of renewable energy and information technology and lastly to reduce to the bear-east minimal our dependency solely on oil.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-uppercase">
                            Massive Skills
                        </h4>

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                HTML / CSS / JQUERY <span>80%</span>
                            </div>
                        </div>
                        <!-- progress bar end -->

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                PHOTOSHOP <span>90%</span>
                            </div>
                        </div>
                        <!-- progress bar end -->

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                GRAPHIC DESIGN <span>75% </span>
                            </div>
                        </div>
                        <!-- progress bar end -->

                        <!-- progress bar start -->
                        <div class="progress massive-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">
                                PHP / WORDPRESS <span>82%</span>
                            </div>
                        </div>
                        <!-- progress bar end -->
                    </div>
                </div>

                

            </div>

            

         

           
        </section>
  

