@model Post
@{
    Layout="_LayoutBlog";
}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1649371398717173";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>


   <!--classic image post-->
                            <div class="blog-classic">
                                <div class="blog-post">
                                    <div class="full-width">
                                        <img src="~/assets/img/post/p12.jpg" alt="" />
                                    </div>
                                    <h4 class="text-uppercase"><a href="blog-single.html">@Model.Title</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-user"></i>posted by <a href="#">admin</a>
                                        </li>
                                        <li><i class="fa fa-folder-open"></i> <a href="#">lifestyle</a>, <a href="#">travel</a>,
                                            <a href="#">fashion</a>
                                        </li>
                                        <li><i class="fa fa-comments"></i> <a href="#">4 comments</a>
                                        </li>
                                    </ul>

                                    <P>
                                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
                                    </P>

                                    <p>
                                        @Html.Raw(Model.Text)
                                    </p>

                                    <!--<p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>. Ab adipisci
                                        architecto consequatur debitis eos eum hic illum ipsam itaque laborum magni minima
                                        molestias nostrum numquam odit officia pariatur perspiciatis placeat porro quae rem,
                                        sequi sit soluta temporibus ullam voluptas voluptates. Aliquid amet architecto culpa
                                        cumque eius enim esse eum eveniet ex, fugiat illo ipsum laudantium, minima nemo porro
                                        sequi tempora veritatis vero voluptate, voluptatem. Culpa ducimus est eveniet, iste
                                        iusto officiis quas repudiandae rerum sit tenetur totam voluptas? Accusamus accusantium
                                        alias aliquam aliquid animi commodi dignissimos dolore doloremque dolorum exercitationem
                                        fugiat illum, iste laboriosam maiores molestiae nam odio officia officiis omnis optio
                                        placeat quaerat quia quibusdam quis quo ratione sapiente sed sequi sit tenetur unde
                                        ut veniam voluptas! Dicta, voluptatum!</p>

                                    <div class="blog-post">
                                        <blockquote class="quote-post">
                                            <p>
                                                Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima
                                                rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error
                                            </p>
                                        </blockquote>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at debitis deleniti
                                        dignissimos ea enim iste laboriosam nihil omnis possimus quia, tempora, totam voluptatibus!
                                        Animi consectetur dolor in laboriosam unde.
                                    </p>

                                    <pre>
                                        .blog-classic { margin-bottom: 70px; padding-bottom: 70px; border-bottom: 1px solid #efefef; }
                                    </pre>
                                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis
                                        omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis
                                        unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                                        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                        vitae dicta sunt explicabo.</p>-->


                                    <div class="inline-block">

                                        <div class="widget-tags">
                                            <h6 class="text-uppercase">Tags </h6>
                                            <a href="">Portfolio</a>
                                            <a href="">Design</a>
                                            <a href="">Link</a>
                                            <a href="">Gallery</a>
                                            <a href="">Video</a>
                                            <a href="">Clean</a>
                                            <a href="">Retina</a>
                                        </div>
                                    </div>


                                    <div class="clearfix inline-block m-top-50 m-bot-50">
                                        <h6 class="text-uppercase">Share this Post </h6>
                                        <div class="widget-social-link circle">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                            <a href="#"><i class="fa fa-behance"></i></a>
                                        </div>
                                    </div>


                                    <div class="pagination-row">

                                        <div class="pagination-post">
                                            <div class="prev-post">
                                                <a href="#">
                                                    <div class="arrow">
                                                        <i class="fa fa-angle-double-left"></i>
                                                    </div>
                                                    <div class="pagination-txt">
                                                        <span>Previous Post</span>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="post-list-link">
                                                <a href="#">
                                                    <i class="fa fa-home"></i>
                                                </a>
                                            </div>

                                            <div class="next-post">
                                                <a href="#">
                                                    <div class="arrow">
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </div>
                                                    <div class="pagination-txt">
                                                        <span>Next Post</span>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>

                                    </div>


                                    <!--comments discussion section start-->


                                    <!--comments  section end-->



                                </div>
                            </div>
                            <!--classic image post-->