<section class="body-content magazine-grid p-top-50">

         


   <!--breaking news-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="magazine-latest-news">
                            <div class="container">
                                <div class="breaking">
                                    Breaking News
                                </div>
                                <div class="news-slider">
                                    
                                <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-2580px, 0px, 0px);"><li class="clone" aria-hidden="true" style="width: 860px; float: left; display: block;">
                                            <a href="#">Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</a>
                                        </li>
                                        <li class="" style="width: 860px; float: left; display: block;">
                                            <a href="#">Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis</a>
                                        </li>
                                        <li class="" style="width: 860px; float: left; display: block;">
                                            <a href="#">Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes</a>
                                        </li>
                                        <li class="flex-active-slide" style="width: 860px; float: left; display: block;">
                                            <a href="#">Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</a>
                                        </li>
                                    <li class="clone" aria-hidden="true" style="width: 860px; float: left; display: block;">
                                            <a href="#">Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis</a>
                                        </li></ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li></ul></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--breaking news-->

            <div class="page-content-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row m-bot-20">
                                <div class="col-md-8">
                                    <!--hero section-->
                                    <div class="slider-boxed magazine-slider">
                                        <div class="container">
                                            <div class="post-slider  text-center">
                                                
                                            <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-1680px, 0px, 0px);"><li class="clone" aria-hidden="true" style="width: 560px; float: left; display: block;">
                                                        <img src="/assets/site-images/the_mavins_arise.jpg" alt="image01" draggable="false">
                                                        <div class="caption">THE REAL NIGERIA</div>
                                                    </li>
                                                       <li class="" style="width: 560px; float: left; display: block;">
                                                        <img src="/assets/site-images/55-reasons-to-hope-LARGE.jpg" alt="image01" draggable="false">
                                                        <div class="caption">56 REASONS TO HOPE IN NIGERIA</div>
                                                    </li>
                                                     <li style="width: 560px; float: left; display: block;" class="">
                                                        <img src="/assets/site-images/NIGERIA.jpg" alt="image01" draggable="false">
                                                    <div class="caption">WE ARE THE PEOPLE,WE ARE THE FUTURE,WE ARE THE NATION, WE ARE ONE NIGERIA</div>
                                                    </li>
                                                      <li style="width: 560px; float: left; display: block;" class="flex-active-slide">
                                                        <img src="/assets/site-images/the_mavins_arise.jpg" alt="image01" draggable="false">
                                                        <div class="caption">THE REAL NIGERIA</div>
                                                    </li>
                                                   
                                                <li class="clone" aria-hidden="true" style="width: 560px; float: left; display: block;">
                                                        <img src="/assets/site-images/55-reasons-to-hope-LARGE.jpg" alt="image01" draggable="false">
                                                        <div class="caption">56 REASONS TO HOPE IN NIGERIA</div>
                                                    </li></ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li></ul></div>
                                        </div>
                                    </div>
                                    <!--hero section-->
                                </div>
                                <div class="col-md-4">
                                    <div class="post-img title-img m-bot-20">
                                        <img src="/assets/img/magazine/mag5.jpg" alt="">
                                        <div class="info">Inventore veritatis et quasi.</div>
                                    </div>
                                    <div class="post-img title-img">
                                        <img src="/assets/site-images/one nigeria.jpg" alt="">
                                        <div class="info">Lid est laborum dolo rumes</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-md-12">
                                    <h6 class="text-uppercase heading-border-bottom">latest News</h6>
                                </div>
                                <div class="post-list">
                                    <div class="col-md-4">
                                        <div class="post-single">
                                            <ul class="post-cat">
                                                <li><a href="#">interface</a>
                                                </li>
                                                <li><a href="#">standard</a>
                                                </li>
                                            </ul>
                                            <div class="post-img">
                                                <img src="/assets/img/magazine/mag8.jpg" alt="">
                                            </div>
                                            <div class="post-desk">
                                                <h4 class="text-uppercase">
                                                   <a href="#">ultra modern design</a>
                                               </h4>
                                                <div class="date">
                                                    <a href="#" class="author">martin smith</a> july 29, 2015
                                                </div>
                                                <p>
                                                    
                                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
                                                </p>
                                                <a href="#" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="post-single">
                                            <ul class="post-cat">
                                                <li><a href="#">interface</a>
                                                </li>
                                                <li><a href="#">standard</a>
                                                </li>
                                            </ul>
                                            <div class="post-img ">
                                                <img src="/assets/img/magazine/mag10.jpg" alt="">
                                            </div>
                                            <div class="post-desk">
                                                <h4 class="text-uppercase">
                                                   <a href="#">fully responsive</a>
                                               </h4>
                                                <div class="date">
                                                    <a href="#" class="author">martin smith</a> july 29, 2015
                                                </div>
                                                <p>
                                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
                                                </p>
                                                <a href="#" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="post-single">
                                            <ul class="post-cat">
                                                <li><a href="#">interface</a>
                                                </li>
                                                <li><a href="#">standard</a>
                                                </li>
                                            </ul>
                                            <div class="post-img">
                                                <img src="/assets/img/magazine/mag9.jpg" alt="">
                                            </div>
                                            <div class="post-desk">
                                                <h4 class="text-uppercase">
                                                   <a href="#">light weight theme</a>
                                               </h4>
                                                <div class="date">
                                                    <a href="#" class="author">martin smith</a> july 29, 2015
                                                </div>
                                                <p>
                                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
                                                </p>
                                                <a href="#" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="text-uppercase heading-border-bottom">Sports</h6>
                                </div>
                                <!--blog list-->
                                <div class="post-list-aside m-top-20 m-bot-20">
                                    <div class="post-single">
                                        <div class="col-md-5">
                                            <div class="post-img">
                                                <img src="/assets/img/magazine/mag7.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="post-desk p-top-0">
                                                <h4 class="text-uppercase">
                                                   <a href="blog-single.html">we work together for fun</a>
                                               </h4>
                                                <div class="date">
                                                    <a href="#" class="author">martin smith</a> july 29, 2015
                                                </div>
                                                <p>
                                                    Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
                                                </p>
                                                <a href="blog-single.html" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--blog list-->
                                <hr>
                                <!--blog list-->
                                <div class="post-list-aside m-top-20 m-bot-20">
                                    <div class="post-single">
                                        <div class="col-md-5">
                                            <div class="post-img">
                                                <img src="/assets/img/magazine/mag3.jpg" alt="">
                                            </div>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="post-desk p-top-0">
                                                <h4 class="text-uppercase">
                                                   <a href="blog-single.html">we work together for fun</a>
                                               </h4>
                                                <div class="date">
                                                    <a href="#" class="author">martin smith</a> july 29, 2015
                                                </div>
                                                <p>
                                                    Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
                                                </p>
                                                <a href="blog-single.html" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--blog list-->
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <!--ads-->
                                    <div class="ads-row full-width m-bot-20">
                                        <a href="#">
                                            <img src="/assets/img/magazine/ads.jpg" alt="">
                                        </a>
                                    </div>
                                    <!--ads-->
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12">
                                    <h6 class="text-uppercase heading-border-bottom">Technologies</h6>
                                </div>
                                <div class="post-list m-top-20">
                                    <div class="col-md-4">
                                        <ul class="widget-latest-post">
                                            <li>
                                                <div class="thumb">
                                                    <a href="#">
                                                        <img src="/assets/img/magazine/mag1.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="w-desk">
                                                    <a href="#">Old Father Getup</a>
                                                    April 25, 2014
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <a href="#">
                                                        <img src="/assets/img/magazine/mag2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="w-desk">
                                                    <a href="#">Represent is the best way</a>
                                                    March 28, 2014
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <a href="#">
                                                        <img src="/assets/img/magazine/mag3.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="w-desk">
                                                    <a href="#">Alone with the music</a>
                                                    May 05, 2014
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <a href="#">
                                                        <img src="/assets/img/magazine/mag4.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="w-desk">
                                                    <a href="#">Old Father Getup</a>
                                                    April 25, 2014
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <a href="#">
                                                        <img src="/assets/img/post/post-thumb-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="w-desk">
                                                    <a href="#">Represent is the best way</a>
                                                    March 28, 2014
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <a href="#">
                                                        <img src="/assets/img/post/post-thumb-3.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="w-desk">
                                                    <a href="#">Alone with the music</a>
                                                    May 05, 2014
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="post-single">
                                            <ul class="post-cat">
                                                <li><a href="#">interface</a>
                                                </li>
                                                <li><a href="#">standard</a>
                                                </li>
                                            </ul>
                                            <div class="post-img ">
                                                <img src="/assets/img/magazine/mag5.jpg" alt="">
                                            </div>
                                            <div class="post-desk">
                                                <h4 class="text-uppercase">
                                                   <a href="#">fully responsive</a>
                                               </h4>
                                                <div class="date">
                                                    <a href="#" class="author">martin smith</a> july 29, 2015
                                                </div>
                                                <p>
                                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
                                                </p>
                                                <a href="#" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="post-single">
                                            <ul class="post-cat">
                                                <li><a href="#">interface</a>
                                                </li>
                                                <li><a href="#">standard</a>
                                                </li>
                                            </ul>
                                            <div class="post-img">
                                                <img src="/assets/img/magazine/mag7.jpg" alt="">
                                            </div>
                                            <div class="post-desk">
                                                <h4 class="text-uppercase">
                                                   <a href="#">light weight theme</a>
                                               </h4>
                                                <div class="date">
                                                    <a href="#" class="author">martin smith</a> july 29, 2015
                                                </div>
                                                <p>
                                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
                                                </p>
                                                <a href="#" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    
                    </div>
                </div>
            </div>

        </section>