
@{
    Layout="_LayoutIndexRoot";
}

 
         @RenderBody()
       
 
    @section right
    {

                            <!--social link-->
                            <ul class="aside-social list-inline">
                                <li>
                                    <i class="fa fa-facebook"></i>
                                    <p>340K</p>
                                </li>
                                <li>
                                    <i class="fa fa-twitter"></i>
                                    <p>234K</p>
                                </li>
                                <li>
                                    <i class="fa fa-google-plus"></i>
                                    <p>123K</p>
                                </li>
                                <li>
                                    <i class="fa fa-rss"></i>
                                    <p>12,123</p>
                                </li>
                            </ul>
                            <!--social link-->

                            <!--ads-->
                            <div class="ads-row full-width m-bot-20">
                                <a href="#">
                                    <img src="~/assets/img/magazine/ad-2.png" alt="" />
                                </a>
                            </div>
                            <!--ads-->

                            <!--newsletter-->
                            <div class="newsletter m-bot-20">
                                <h3 class="light-txt text-uppercase">Newsletter</h3>
                                <p class="light-txt">Subscribe to be the first to know our about sales, events and special offers!</p>
                                <form>
                                    <input type="email" placeholder="Enter your email" class="form-control m-bot-10 round-less">
                                    <input type="submit" class="btn btn-theme-color full-width light-hover" value="subscribe">
                                </form>
                            </div>
                            <!--newsletter-->

                            <!--latest post-->
                            <div class="m-bot-20 inline-block">
                                <h6 class="text-uppercase heading-border-bottom">latest post</h6>
                                <ul class="widget-latest-post">
                                    <li>
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="~/assets/img/post/post-thumb.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="w-desk">
                                            <a href="#">Old Father Getup</a>
                                            April 25, 2014
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="~/assets/img/post/post-thumb-2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="w-desk">
                                            <a href="#">Represent is the best way</a>
                                            March 28, 2014
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="~/assets/img/post/post-thumb-3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="w-desk">
                                            <a href="#">Alone with the music</a>
                                            May 05, 2014
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--latest post-->


                            <!--latest post-->
                            <div class="m-bot-20 inline-block">
                                <h6 class="text-uppercase heading-border-bottom">Flickr Photostream</h6>
                                <ul class="r-work">
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/img/recent-work/1.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/img/recent-work/2.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/img/recent-work/3.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/img/recent-work/4.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/img/recent-work/5.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/img/recent-work/6.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/img/recent-work/7.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/img/recent-work/8.jpg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--latest post-->

                            <!--ads-->
                            <div class="ads-row full-width m-bot-20">
                                <a href="#">
                                    <img src="~/assets/img/magazine/ad-2.png" alt="" />
                                </a>
                            </div>
                            <!--ads-->

        
    }
