


@{
    Layout="_LayoutBlogRoot";
}


@RenderBody()



@section right
{
             
                            
                               <!--search widget-->
                            <div class="widget">
                                <form class="form-inline form" role="form">
                                    <div class="search-row">
                                        <button class="search-btn" type="submit" title="Search">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <input type="text" class="form-control" placeholder="Search...">
                                    </div>
                                </form>
                            </div>
                            <!--search widget-->

                            <!--author widget-->
                            <div class="widget">
                                <div class="heading-title-alt text-left heading-border-bottom">
                                    <h6 class="text-uppercase">about author</h6>
                                </div>
                                <div class="full-width avatar">
                                    <img src="~/assets/img/post/avatar.jpg" alt="" />
                                </div>
                                <p>Persuaded to return to the shoemaker's shop, young Edward struggled on till three years of his wretched apprenticeship had passed over.</p>

                                <span class="">- Nelson Leonard</span>
                            </div>
                            <!--author widget-->
                            <!--latest post widget-->
                            <div class="widget">
                                <div class="heading-title-alt text-left heading-border-bottom">
                                    <h6 class="text-uppercase">latest post</h6>
                                </div>
                                <ul class="widget-latest-post">
                                    <li>
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="~/assets/img/post/post-thumb.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="w-desk">
                                            <a href="#">Old Father Getup</a>
                                            April 25, 2014
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="~/assets/img/post/post-thumb-2.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="w-desk">
                                            <a href="#">Represent is the best way</a>
                                            March 28, 2014
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="~/assets/img/post/post-thumb-3.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="w-desk">
                                            <a href="#">Alone with the music</a>
                                            May 05, 2014
                                        </div>
                                    </li>
                                </ul>
                              <div class="tweeter-container">
                                <ul class="widget-latest-post">
                                 

                                      <li>
                                      <a class="twitter-timeline" data-height="420" href="https://twitter.com/ykel">Tweets by ykel</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                  </li>
                                
                                </ul>
                              </div>
                            </div>
                            <!--latest post widget-->

                            <!--follow us widget-->
                            <div class="widget">
                                <div class="heading-title-alt text-left heading-border-bottom">
                                    <h6 class="text-uppercase">follow us</h6>
                                </div>
                                <div class="widget-social-link circle">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-behance"></i></a>
                                </div>
                            </div>
                            <!--follow us widget-->

                            <!--category widget-->
                            <div class="widget">
                                <div class="heading-title-alt text-left heading-border-bottom">
                                    <h6 class="text-uppercase">category</h6>
                                </div>
                                <ul class="widget-category">
                                    <li><a href="#">Animals</a>
                                    </li>
                                    <li><a href="#">Landscape</a>
                                    </li>
                                    <li><a href="#">Portrait</a>
                                    </li>
                                    <li><a href="#">Wild Life</a>
                                    </li>
                                    <li><a href="#">Video</a>
                                    </li>
                                </ul>
                            </div>
                            <!--category widget-->

                            <!--comments widget-->
                            <div class="widget">
                                <div class="heading-title-alt text-left heading-border-bottom">
                                    <h6 class="text-uppercase">Latest comments </h6>
                                </div>
                                <ul class="widget-comments">
                                    <li>Jonathan on <a href="javascript:;">Vesti blulum quis dolor </a>
                                    </li>
                                    <li>Jane Doe on <a href="javascript:;">Nam sed arcu tellus</a>
                                    </li>
                                    <li>Margarita on <a href="javascript:;">Fringilla ut vel ipsum </a>
                                    </li>
                                    <li>Smith on <a href="javascript:;">Vesti blulum quis dolor sit</a>
                                    </li>
                                </ul>
                            </div>
                            <!--comments widget-->

                            <!--tags widget-->
                            <div class="widget">
                                <div class="heading-title-alt text-left heading-border-bottom">
                                    <h6 class="text-uppercase">tag cloud</h6>
                                </div>
                                <div class="widget-tags">
                                    <a href="">Portfolio</a>
                                    <a href="">Design</a>
                                    <a href="">Link</a>
                                    <a href="">Gallery</a>
                                    <a href="">Video</a>
                                    <a href="">Clean</a>
                                    <a href="">Retina</a>
                                </div>
                            </div>
                            <!--tags widget-->
                           
}